/* @import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,700&display=swap'); */

:root {
    --Y: #ffe100;
    --lY: #fff291;
    --B: #000;
    --lB: #2f2f2f;
    --W: #FFF;
    --Bl: #000FAF;
    --lBl: #858CD4;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.title-div {
    background-color: var(--Y);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    animation-name: shrink-title_div;
    animation-duration: 0.75s;
    animation-delay: 12s;
    animation-fill-mode: forwards;
}
@keyframes shrink-title_div {
    from {height: 100vh}
    to {height: 40vh;}
}

.title {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.main-title {
    margin-bottom: 0.5em;
    font-size: 20vw;
    font-family: 'Zilla Slab', serif;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;

    animation-name: shrink-main_title;
    animation-duration: 0.75s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
}
@keyframes shrink-main_title {
    from {font-size: 20vw;}
    to {font-size: 10vw;}
}

.name-title {
    padding: 0.03em 1em;
}

.title-ajelmar {
    margin-left: 1em;
    background-color: var(--W);
    color: var(--B);

    animation-name: ajelmar-slide_in;
    animation-duration: 0.75s;
}
@keyframes ajelmar-slide_in {
    from {transform: translate(70vw);}
    to {transform: translate(0vw);}
}

.title-medina {
    margin-right: 1em;
    background-color: var(--B);
    color: var(--W);

    animation-name: medina-slide_in;
    animation-duration: 0.75s;
}
@keyframes medina-slide_in {
    from {transform: translate(-70vw);}
    to {transform: translate(0vw);}
}

.subtitle {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subtitle-main {
  font-size: 7vw;
  font-family: "Zilla Slab", serif;
  color: var(--Bl);
}

.subtitle-stats {
  font-size: 2.5vw;
  font-style: italic;
  font-weight: 700;
  font-family: monospace;
  color: var(--lBl);
}

.type-pointer {
    font-family: "Zilla Slab", serif;
    color: var(--Bl);

    animation-name: blinking-type_pointer;
    animation-duration: 300ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blinking-type_pointer {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* Desktop */
@media only screen and (min-width: 768px) {
    @keyframes shrink-title_div {
        from {height: 100vh;}
        to {height: 50vh;}
    }

    .main-title {
        font-size: 10vw;
    }
    @keyframes shrink-main_title {
        from {font-size: 10vw;}
        to {font-size: 5vw;}
    } 
    
    .subtitle-main {
        font-size: 2vw;
    }

    .subtitle-stats {
        font-size: 1vw;
    }

    .subtitle {
        transform: scale(2);

        animation-name: shrink-subtitle;
        animation-duration: 0.5s;
        animation-delay: 10s;
        animation-fill-mode: forwards;
    }
    @keyframes shrink-subtitle {
        from {transform: scale(2);}
        to {transform: scale(1.5);}
    }
}
